* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "roboto";
}

html {

    /* a cada 1 rem = 10px.*/
    font-size: 62.5%;
}


body {
    font-family: "roboto";
    font-size: 1.6rem;
    display:block;

}

.menu {
    max-width: 100%;
    height: 60px;
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);
    font-family: 'roboto';
}

.menu img {
    float: left;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 80px;
}

.menu ul {
    list-style: none;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    width: 160px;
    float: left;
    padding: 0;
    margin: 0;
}

.menu ul li svg {
    padding: 0;
    margin: 0;
}

.menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 19px;
    left: 0;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    z-index: 3;
}

.menu ul ul {
    padding: 15px;
    position: absolute;
    visibility: hidden;
    list-style-type: none;
    padding-left: 50px;
    z-index: 3;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: rgb(223, 63, 5);
    height: 60px;
    z-index: 3;
}

.menu ul ul li {
    float: none;
    padding-bottom: 25px;
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 100%, rgba(255, 119, 41, 0.9) 100%, rgba(255, 146, 40, 10) 100%);
    margin-left: -50px;
    z-index: 3;
}

.menu ul ul li a {
    text-align: center;
    margin-top: -15px;
    margin-left: 0;
    z-index: 3;
}

.menu ul ul li a:hover {
    background-color: rgb(223, 63, 5);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    z-index: 3;
}

.menu li a svg {
    margin-top: -3px;
}



main{
    background-image:url('/images/3/2.png');
    background-repeat: no-repeat;
    background-position: right 0;
    background-size:cover;
    backdrop-filter: blur(0.4rem);
    margin-left:  20px;
    margin-right: 20px;
    height:812px;
    margin-bottom: -10px;
}

.body-img {
    width: 800px;
    margin-left: 20px;
}

#container-login{
    background-color: rgba(242, 242, 242, 0.7);
    width: 454px;
    height: 550px ;
    position:absolute;
    top:3%;
    left:35%;
    margin-left:auto;
    margin-right: auto;
    padding: 2rem 3rem;
    text-align: center;
    font-family: "roboto";
    margin-top:10vh;
    margin-bottom:10vh;
}

form{
    margin-top: 3rem;
    margin-bottom: 4rem;
}

label,input{
    display:block;
    width: 100%;
    text-align: left;
    margin-bottom: 1vh;
}

label{
    font-size: 1.2rem;
    font-family: "Roboto";
    padding-bottom: 5px;
}

input{
    border: 0.2rem solid white;
    padding:1rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    font-family: "Roboto", 'Times New Roman';
}

.fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #0d009c;
}

#forgot-pass{
    display:block;
    text-align: right;
    text-decoration: none;
    font-size: 0.8rem;
    color:black;
    font-weight: bold;
    font-family: "Roboto", 'Times New Roman';
}

#new-user a{
    display:block;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    color:black;
    font-weight: bold;
    padding-top: 10px;
    font-family: "Roboto", 'Times New Roman';
}

#forgot-pass:hover{
    color: rgba(31, 39, 20, 0.4);
}

#new-user:hover a{
    color: rgba(31, 39, 20, 0.4);
}

input[type="submit"]{
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    border:none;
    height: 4rem;
    margin-top: 3rem;
    color:white;
    background-color: #fa833e;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 12px;
}

input[type="submit"]:hover{
    background-color: orangered;
    transition:0.5s;
}

/*FOOTER*/
footer {
    background-color: #D9D9D9;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 20px 20px 0 0;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "roboto";
}

footer a {
    text-decoration: none;

}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.footer-container img {
    height: 40px;
}

.footer-payments h2 {
    text-align: center;
    padding-bottom: 5px;
}

.footer-list li a {
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    line-height: 1.5rem;
    color: black;
}

.footer-cards {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    line-height: 5rem;
}

.footer-cards img {
    height: 30px;
    padding-left: 20px;
}

.footer-customer {
    margin-right: 3rem;
}

.footer-social {
    margin-top: 3rem;
    
}

.icons-social {
    display: flex;
    gap: 1rem;
    height: 2rem;
    margin-top: 3rem;
    align-items: center;
    line-height: 5rem;
    margin-bottom: 10px;
}

.footer-bottom {
    border-top: 0.2rem solid #FF8038;
    margin-top: 2rem;
    text-align: center;
}

