<div class="banner-images">
    <div class="banner-image">
        <img class="banner-img" src="../images/345.PNG">
    </div>
    <div class="banner-image">
        <img class="banner-img" src="../images/281538242_318236130479245_3829454221508402800_n.JPG">
    </div>
    <div class="banner-image">
        <img class="banner-img" src="../images/Capturar.PNG">
    </div>
    <div class="banner-image">
        <img class="banner-img" src="../images/—Pngtree—social media icons set facebook_3556899.png">
    </div>
    <div class="banner-image">
        <img class="banner-img" src="../images/283218549_1294098584332964_8204117314078147044_n.JPG">
    </div>
</div>