<footer>
    <div class="footer-container">
        <div class="footer-1">
            <div>
                <h3>© 2022 D'house Comércio Varejista S.A</h3>
            </div>
        </div>
        <div class="footer-2">
            <p>D'HOUSE COMÉRCIO VAREJISTA S.A<br>CNPJ: 99.999.999/0001-99<br>Endereço: Av. Wireframe DH,
                999<br>Bairro - Cidade</p>
        </div>

    </div>
</footer>