<footer class="rodape">
    <div class="footer-container">
        <div class="footer-box">
            <img src="../images/logo.jpeg" alt="logo">
            <div class="company-footer">
                <ul class="footer-list">
                    <li><a href="#">> Sobre Nós</a></li>
                    <li><a href="#">> FAQ</a></li>
                    <li><a href="#">> Contato</a></li>
                    <li><a href="#">> Carreira</a></li>
                    <li><a href="#">> Politica de Privacidade</a></li>
                    <li><a href="#">> Mapa do Site</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-box">
            <div class="footer-payments">
                <h2>PAGAMENTO SEGURO</h2>
                <ul class="footer-cards">
                    <li><img src="../images/elo.png" alt="elo"></li>
                    <li><img src="../images/mastercard.png" alt="mastercard"></li>
                    <li><img src="../images/visa.png" alt="visa"></li>
                    <li><img src="../images/pix.png" alt="pix"></li>
                    <li><img src="../images/boleto.png" alt="boleto"></li>
                </ul>
            </div>
        </div>

        <div class="footer-box">
            <div class="footer-customer">
                <h2>ATENDIMENTO AO CLIENTE</h2>
                <p>Fale conosco e tire suas dúvidas!</p>
                <p>Seg-sex das 9:00 às 18:00h (exceto feriados)</p>
                <br>
                <p>Telefone: 9999-9999<br>Fale conosco</p>
                <ul class="footer-social">
                    <h2>REDES SOCIAIS</h2>
                    <div class="icons-social">
                        <li><img src="../images/facebook.png" alt="facebook"></li>
                        <li><img src="../images/twitter.png" alt="twitter"></li>
                        <li><img src="../images/instagram.png" alt="instagram"></li>
                        <li><img src="../images/pinterest.png" alt="pinterest"></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <p class="footer-bottom"><br>© 2022 D'house Comércio Varejista S.A<br>
        CNPJ: 99.999.999/0001-99<br>
        Endereço: Av. Wireframe DH, 999<br>
        Bairro Cidade</p>

</footer>