/*Geral*/
body, p, h1, h2, input, textarea{
    margin: 0;
    font-family: roboto;
}

/*navbar*/
.container-navbar {
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);;
    padding: 0 15px;
    height: 60px;
}

.container-navbar img {
    height: 35px;
    position: relative;
    top: 10px;
    margin-left: 20px;
}

.container-navbar h2, .container-navbar ul, .container.navbar-list li, .container.navbar nav {
    display: flex;
}

.container-navbar {
    display: flex;
}

.container-navbar nav {
    float: right;
    cursor: default;
}

.container-navbar ul {
    margin-top: 20px;
}

.container-navbar li {
    list-style: none;
    margin-right: 120px;
    margin-left: -40px;
    padding-right: 30px;
    position: relative;
    left: 40px;
}


.container-navbar li a:hover {
    color: rgb(39, 19, 1);
}

.container-navbar li a {
    text-decoration: none;
    color: white;
    padding-left: -10px;
    font-weight: bold
}

.container-navbar .nav-images {
    display: flex;
}

.container-navbar .nav-item {
    justify-content:space-around;
    padding-top: 20px;
}

#main-banner img {
max-width: 100%;
}

#main-banner {
    padding-left: 20px;
    padding-right: 20px;
}

#about-sucess {
    background-color: #FF5C00;
    padding: 0 10px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    margin-top: -10px;
    position: relative;
}

#about-sucess h2 {
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
}

div.imagem {
    width: 420px;
	display: inline-block;
}

#about-sucess img {
    float: left;
}

#about-sucess span {
    text-align: center;
}

#bestseller-section {
    background-color: #FF5C00;
    padding: 0 10px;
    height: 50px;
    border-radius: 0 0 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    margin-top: -10px;
}







