/*Geral*/
body, p, h1, h2, input, textarea{
    margin: 0;
    font-family: roboto;
}

/*navbar*/
header .container {
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);;
    padding: 0 15px;
    height: 60px;
    display: flex;
}

header .container img {
    height: 40px;
    padding-top: 10px;
    margin-left: 10px;
}

.container h2, .container ul, .container nav {
    display: flex;
}

.container nav {
    cursor: default;
    padding-left: 70px;
    box-sizing: border-box;
}

.container ul {
    margin-top: 20px;
}

.container li {
    list-style: none;
    margin-right: 120px;
    margin-left: -50px;
    padding-right: 30px;
    left: 0px;
}


.container .container-images {
    display: flex;
    padding-top: 20px;
}

.container .nav-images {
    right: 100px;
}

.container li a:hover {
    background: #f1600c;
}

.container li a {
    text-decoration: none;
    color: white;
    padding-left: -10px;
    font-weight: bold;
    transition: all 250ms linear 0s;
}


.main-banner img {
max-width: 100%;
}

.main-banner {
    padding-left: 20px;
    padding-right: 20px;
}

.about-sucess {
    background-color: #FF5C00;
    padding: 0 10px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    margin-top: -10px;
    position: relative;
}

.about-sucess h2 {
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
}

div.imagem {
    width: 420px;
	display: inline-block;

}

.about-sucess img {
    float: left;
}

.about-sucess span {
    text-align: center;
}

.bestseller-section {
    background-color: #FF5C00;
    padding: 0 10px;
    height: 50px;
    border-radius: 0 0 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    margin-top: -10px;
}

/*FOOTER*/

footer{
    background-color: #D9D9D9;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-radius: 3%;
    position: relative;
	bottom: 0;
}

footer a{
    text-decoration: none;
    
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
}

.footer-container{
    display:flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.footer-list li a{
    margin-top: 3rem;
    display:block;
    line-height:1rem;
    color:black;
    }

.footer-cards{
    margin-top: 2rem;
    flex-direction:column;
    display:flex;
    align-items: center;
    line-height: 6rem;
    }

.footer-customer{
    margin-right: 3rem;
    }

.footer-social{
    margin-top:10rem;
    }

.footer-bottom{
    border-top: 0.2rem solid #FF8038;
    margin-top: 2rem;
    text-align: center;
}





