* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {

    /* a cada 1 rem = 10px.*/
    font-size: 62.5%;
}


body {
    font-family: "roboto";
    font-size: 1.6rem;
}

header nav {
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);
    ;
    height: 60px;
    width: 100%;
}

header nav img {
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

header nav ul {
    float: right;
    margin-right: 20px;
}


header nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
    padding-right: 70px;
}


header nav li a {
    color: white;
    font-weight: bold;
    transition: all 250ms linear 0s;
}

header nav li a:hover {
    color: black;
}

/*MAIN*/

/*BREADCRUMB*/

:root {
    --cor-principal: #000000;
    --cor-secundaria: #5f5c5c;

}

section nav {
    
    margin-top: 2rem;
    margin-left: 4.3rem;
    margin-bottom: 5rem;
}

nav ol {
    list-style-type: none;
}

nav ol li {
    display: inline;
    font-family: "Roboto";
}

nav ol li::after {
    content: '>';
    margin-right: 1rem;
}

nav ol li:last-child::after {
    content: '';

}

nav ol li a {
    color: var(--cor-principal);
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 1rem;
}

nav ol li a:hover {
    color: var(--cor-secundaria);
    text-decoration: underline;
}

/*PRODUTOS*/

.container-master {
    display: flex;
    width: 100%;
}


.container-master-up {
    display: flex;
    flex-direction: column;

}

.container-master-left {
    display: flex;
    margin-left: 4.3rem;
    width: 100%;
}


.left-side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select-image {
    display: flex;
    align-items: center;
}

.left-side .items {
    align-self: center;
}

.left-side .items .select-image {
    display: flex;
    max-width: 44rem;
}

.left-side .items .select-image img .product {
    width: 100%;
}

.arrow-right, .arrow-left{
    cursor:pointer;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
    max-width: 44rem;
    gap: 3rem;
    margin-left: 4.3rem;
}

.thumbnail img {
    width: 100%;
    cursor:pointer;

}

.right-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10rem;
}

.right-side .content {
    max-width: 44rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}



.right-side h2 {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;

}

.right-side h5 {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.right-side .amount {
    display: flex;
    align-items: center;
    gap: 3rem;

}

.icon-minus,
.icon-plus {
    cursor: pointer;
}

.qtde {
    border: 0.1px solid black;
    padding: 1rem;
}

.buttons-sale {
    display: flex;
    gap: 1rem;
}

.car {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);
    width: 24.6rem;
    height: 4.6rem;
    border: none;
    border-radius: 5%;
    padding: 1.5rem 3.5rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.car:hover {
    color: black;
}



.wish {
    text-align: center;
    background: white;
    width: 24.6rem;
    height: 4.6rem;
    border: 0.05rem solid #545353;
    border-radius: 5%;
    padding: 1.5rem 3.5rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.wish:hover {
    color: #FF8038;
}


.car,
.wish {
    font-weight: 700;
    font-size: 1.5rem;
}


.right-side .price {
    font-weight: 800;
    font-size: 5.0rem;
    line-height: 5.9rem;
}

.right-side .parcela {
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.5rem;
}

.container-master-bottom {
    margin-top: 5.9rem;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description-title {
    font-weight: 800;
    font-size: 4rem;
    line-height: 47px;
}

.description-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 5rem 10rem;
}

.line {
    height: 0.1rem;
    background-color: #FF8038;
    width: 90%;
}



/*ESPECIFICAÇÕES*/

.specs {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.specs-title {
    margin-top: 2rem;

    font-weight: 800;
    font-size: 40px;
    line-height: 47px;
    align-items: center;
    text-align: center;
}

.specs-items {
    max-width: 79.6rem;
    margin-top: 3rem;
}

td {
    border: 0.1rem solid black;
}

.td-left {
    max-width: 30.2rem;
    max-height: 4.7rem;
    background-color: #D9D9D9;
    font-weight: 800;
    font-size: 2rem;
    align-items: center;
    text-align: center;
}

.td-right {
    max-width: 49.4rem;
    max-height: 4.7rem;
    background-color: #F5F5F5;
    font-weight: 500;
    font-size: 1.5rem;

    align-items: center;
}

.banner-images {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.banner-img {
    width: 25rem;
    height: 19rem;
    object-fit: cover;
}

/*ASIDE*/

.line-vert {
    height: 1230px;
    border-right: 1px solid #FF8038;
    margin-left: 1rem;
}

.favorites {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.7rem;
}

.favorites-title {
    font-weight: 400;
    font-size: 1.8rem;

}

.favorites-image {
    width: 22rem;
    height: 23rem;
    object-fit: cover;
}

.favorite-image-title {
    font-weight: 700;
    font-size: 1.4rem;

}

.favorite-image-descript {
    font-weight: 400;
    font-size: 1rem;

}

.favorite-image-price {
    font-weight: 700;
    font-size: 1.4rem;

}

/*FOOTER*/
footer {
    background-color: #D9D9D9;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 20px 20px 0 0;
    margin-top: 10px;
    
    font-family: "roboto";
}

footer a {
    text-decoration: none;

}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.footer-container img {
    height: 40px;
}

.footer-payments h2 {
    text-align: center;
    padding-bottom: 5px;
}

.footer-list li a {
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    line-height: 1.5rem;
    color: black;
}

.footer-cards {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    line-height: 5rem;
}

.footer-cards img {
    height: 30px;
    padding-left: 20px;
}

.footer-customer {
    margin-right: 3rem;
}

.footer-social {
    margin-top: 3rem;
    
}

.icons-social {
    display: flex;
    gap: 1rem;
    height: 2rem;
    margin-top: 3rem;
    align-items: center;
    line-height: 5rem;
    margin-bottom: 10px;
}

.footer-bottom {
    border-top: 0.2rem solid #FF8038;
    margin-top: 2rem;
    text-align: center;
}