<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="./carrinho.css">
    <link rel="stylesheet" href="./responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>

</head>

<body>
    <header>
        <nav>
            <div class="container">
                <img src="../images/logo.jpeg" alt="logo">
                <ul>

                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-cart-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg></a></li>
                    <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg></a></li>
                </ul>
        </nav>
    </header>

    <main>

        <section>
            <div class="container-master">

                <div class="left-side">

                    <h2 class="left-title">Carrinho de Compras</h2>

                    <hr class="left-hr">

                    <div class="shop-header">
                        <h3 class="product-title">PRODUTO</h3>
                        <div class="measure">
                            <h3>UN</h3>
                            <h3>QTD</h3>
                            <h3>TOTAL</h3>
                        </div>
                    </div>

                    <div class="shop-product-list">
                        
                        <div class="shop-product">
                            <div class="shop-product-description">
                                <img class="black-plate" src="../images/image 12.png" alt="prato preto">
                                <div class="prod-combo">
                                    <h4 class="prod-description">Prato Thingx 50up775psb 50</h4>
                                    <a href="#" class="prod-remove">Remover</a>
                                </div>
                            </div>
                            <div class="price-qty">
                                <span class="price">R$6,99</span>
                                <div class="qty">
                                    <img class="minus" src="../images/menos.png" alt="sinal de menos">
                                    <span class="qty-number">1</span>
                                    <img src="../images/mais.png" alt="sinal de mais">
                                </div>
                                <span class="price">R$6,99</span>
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="shop-product-description">
                                <img class="black-plate" src="../images/image 12.png" alt="prato preto">
                                <div class="prod-combo">
                                    <h4 class="prod-description">Prato Thingx 50up775psb 50</h4>
                                    <a href="#" class="prod-remove">Remover</a>
                                </div>
                            </div>
                            <div class="price-qty">
                                <span class="price">R$6,99</span>
                                <div class="qty">
                                    <img class="minus" src="../images/menos.png" alt="sinal de menos">
                                    <span class="qty-number">1</span>
                                    <img src="../images/mais.png" alt="sinal de mais">
                                </div>
                                <span class="price">R$6,99</span>
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="shop-product-description">
                                <img class="black-plate" src="../images/image 12.png" alt="prato preto">
                                <div class="prod-combo">
                                    <h4 class="prod-description">Prato Thingx 50up775psb 50</h4>
                                    <a href="#" class="prod-remove">Remover</a>
                                </div>
                            </div>
                            <div class="price-qty">
                                <span class="price">R$6,99</span>
                                <div class="qty">
                                    <img class="minus" src="../images/menos.png" alt="sinal de menos">
                                    <span class="qty-number">1</span>
                                    <img src="../images/mais.png" alt="sinal de mais">
                                </div>
                                <span class="price">R$6,99</span>
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="shop-product-description">
                                <img class="black-plate" src="../images/image 12.png" alt="prato preto">
                                <div class="prod-combo">
                                    <h4 class="prod-description">Prato Thingx 50up775psb 50</h4>
                                    <a href="#" class="prod-remove">Remover</a>
                                </div>
                            </div>
                            <div class="price-qty">
                                <span class="price">R$6,99</span>
                                <div class="qty">
                                    <img class="minus" src="../images/menos.png" alt="sinal de menos">
                                    <span class="qty-number">1</span>
                                    <img src="../images/mais.png" alt="sinal de mais">
                                </div>
                                <span class="price">R$6,99</span>
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="shop-product-description">
                                <img class="black-plate" src="../images/image 12.png" alt="prato preto">
                                <div class="prod-combo">
                                    <h4 class="prod-description">Prato Thingx 50up775psb 50</h4>
                                    <a href="#" class="prod-remove">Remover</a>
                                </div>
                            </div>
                            <div class="price-qty">
                                <span class="price">R$6,99</span>
                                <div class="qty">
                                    <img class="minus" src="../images/menos.png" alt="sinal de menos">
                                    <span class="qty-number">1</span>
                                    <img src="../images/mais.png" alt="sinal de mais">
                                </div>
                                <span class="price">R$6,99</span>
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="shop-product-description">
                                <img class="black-plate" src="../images/image 12.png" alt="prato preto">
                                <div class="prod-combo">
                                    <h4 class="prod-description">Prato Thingx 50up775psb 50</h4>
                                    <a href="#" class="prod-remove">Remover</a>
                                </div>
                            </div>
                            <div class="price-qty">
                                <span class="price">R$6,99</span>
                                <div class="qty">
                                    <img class="minus" src="../images/menos.png" alt="sinal de menos">
                                    <span class="qty-number">1</span>
                                    <img src="../images/mais.png" alt="sinal de mais">
                                </div>
                                <span class="price">R$6,99</span>
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="shop-product-description">
                                <img class="black-plate" src="../images/image 12.png" alt="prato preto">
                                <div class="prod-combo">
                                    <h4 class="prod-description">Prato Thingx 50up775psb 50</h4>
                                    <a href="#" class="prod-remove">Remover</a>
                                </div>
                            </div>
                            <div class="price-qty">
                                <span class="price">R$6,99</span>
                                <div class="qty">
                                    <img class="minus" src="../images/menos.png" alt="sinal de menos">
                                    <span class="qty-number">1</span>
                                    <img src="../images/mais.png" alt="sinal de mais">
                                </div>
                                <span class="price">R$6,99</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-side">

                    <h2 class="right-title">Resumo do Pedido</h2>

                    <div class="qty-price">
                        <span class="item">7 itens</span>
                        <span class="item-price">R$ 41,94</span>
                    </div>

                    <hr class="right-hr">

                    <div class="delivery">
                        <form class="delivery-choices">

                            <div class="delivery-choice">
                                <label for="delivery-method">Método de envio</label>
                                <select name="delivery-method" id="delivery-select">
                                    <option value selected></option>
                                    <option selected value="express">Entrega Expressa - R$10,00</option>
                                    <option value="normal">Entrega Normal - R$5,00</option>
                                    <option value="agenda">Entrega Agendada - R$7,50</option>
                                </select>
                            </div>

                            <div class="discount-place">
                                <label for="desconto">Código de desconto</label>

                                <div class="discount-check">
                                    <input type="text" name="desconto" placeholder="Entre com o código"
                                        id="discount-check-place">
                                    <button class="button-discount-check"><img class="check" src="../images/Check-in.svg"></button>
                                </div>
                            </div>


                        </form>
                    </div>



                    <hr class="right-hr">

                    <div class="final-datas">
                        <div class="discount-text">
                            <span>Desconto(OFF20) 20%(R$8,38)</span>
                        </div>
                        <div class="discount-frete">
                            <span>Frete R$10,00</span>
                        </div>
                        <div class="discount-total">
                            <span>Total R$43,55</span>
                        </div>
                    </div>

                    <button class="finaliza">Finalizar a Compra</button>

                </div>



            </div>


        </section>




    </main>









</body>

</html>