* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "roboto";
}

nav {
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);;
    height: 60px;
    max-width: 100%;
}

nav img {
    height:40px;
    margin-top: 10px;
    margin-left: 20px;
}

nav ul {
    float: right;
    margin-right: 20px;
}


nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
    padding-right: 70px;
}

nav li a {
    color: white;
    font-weight: bold;
    transition: all 250ms linear 0s;
}

nav li a:hover {
    color: black;
}

carousel-inner {
    margin-top: 5px;
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -12px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 10px;
}

.about-sucess h2 {
    padding: 10px 0 0 30px ;
}

.imagem {
    display: inline-block;
    flex-direction: row;
}

.imagem img {
    margin-left: 20px;
    margin-right: 17px;
    border-radius: 30px 30px;
    margin-top: -25px;
}

.texto {
    margin-top: -34px;
    padding-left: 7px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.texto a {
    color: black;
    font-weight: bold;
    margin-left: 14px;
    margin-right: 20px;
    padding-right: 173px;
    padding-left: 173px;
    padding-top: 7px;
    height: 35px;
    border-radius: 0 0 30px 30px;
    background-color: #fd5e01;
}

.texto2 {
    margin-top: -34px;
    padding-left: 450px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.texto2 a {
    color: black;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 137px;
    padding-left: 138px;
    padding-top: 7px;
    height: 35px;
    border-radius: 0 0 30px 30px;
    background-color: #fd5e01;
}

.texto3 {
    margin-top: -34px;
    padding-left: 920px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.texto3 a {
    color: black;
    font-weight: bold;
    margin-left: 0;
    margin-right: 20px;
    padding-right: 162px;
    padding-top: 7px;
    padding-left: 161px;
    height: 35px;
    border-radius: 0 0 30px 30px;
    background-color: #fd5e01;
}

.bestseller-section {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.bestseller-section h2 {
    padding: 10px 0 0 30px;
}

.imagens-colect {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagens-colect img {
    height: 280px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.imagens-colect1 {
    border: rgb(212, 212, 212) solid 2px;
    margin-left: 13px;
    margin-right: 13px;
    border-radius: 0 0 20px 20px;
}

.bestseller-container {
    display: inline-block;
    flex-direction: row;
    padding-right: 150px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.bestseller-container h3 {
    padding-top: 10px;
    color: rgb(44, 44, 44);
    padding-bottom: 5px;
}

.bestseller-container p {
    font-size: 1rem;
}

.subtitle {
    padding-top: 5px;
    font-weight: bold;
    font-size: 0.8rem;
}


/*FOOTER*/
footer {
    background-color: #D9D9D9;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 20px 20px 0 0;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "roboto";
}

footer a {
    text-decoration: none;

}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.footer-container img {
    height: 40px;
}

.footer-payments h2 {
    text-align: center;
    padding-bottom: 5px;
}

.footer-list li a {
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    line-height: 1.5rem;
    color: black;
}

.footer-cards {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    line-height: 5rem;
}

.footer-cards img {
    height: 30px;
    padding-left: 20px;
}

.footer-customer {
    margin-right: 3rem;
}

.footer-social {
    margin-top: 3rem;
    
}

.icons-social {
    display: flex;
    gap: 1rem;
    height: 2rem;
    margin-top: 3rem;
    align-items: center;
    line-height: 5rem;
    margin-bottom: 10px;
}

.footer-bottom {
    border-top: 0.2rem solid #FF8038;
    margin-top: 2rem;
    text-align: center;
}