<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../myApp/public/stylesheets/stylecadastro2.css">
    <title>Cadastro</title>
</head>
<body>
<%-include('./partials/header')%>
    <main>
        <div class="divPai">
            <div class="divCentral">
                <h1>Cadastro Realizado com sucesso!</h1>
                <h2><a href="#">Continuar Comprando</a>
                </h2>                
                <h3>Ir para o <a href="#">carrinho</a> </h2>               
                
            </div>
        </div>
    </main>
        
    </section>
<%-include('./partials/footer')%>
    </section>     
    
</body>
</html>