* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "roboto";
}

html {

    /* a cada 1 rem = 10px.*/
    font-size: 62.5%;
}


body {
    font-family: "roboto";
    font-size: 1.6rem;
    display:block;

}

.menu {
    max-width: 100%;
    height: 6rem;
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);
    font-family: 'roboto';
}

.menu img {
    float: left;
    height: 4rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 8rem;

}
#logotipo{
    float: left;
    height: 4rem;
    margin-top: -2rem;
    margin-left: 2rem;
    margin-right: 8rem;
}

.menu ul {
    list-style: none;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    width: 16rem;
    float: left;
    padding: 0;
    margin: 0;
}

.menu ul li svg {
    padding: 0;
    margin: 0;
}

.menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 19px;
    left: 0;
    list-style: none;
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 3;
}

.menu ul ul {
    padding: 1.5rem;
    position: absolute;
    visibility: hidden;
    list-style-type: none;
    padding-left: 5rem;
    z-index: 3;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: rgb(223, 63, 5);
    height: 6rem;
    z-index: 3;
}

.menu ul ul li {
    float: none;
    padding-bottom: 2.5rem;
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 100%, rgba(255, 119, 41, 0.9) 100%, rgba(255, 146, 40, 10) 100%);
    margin-left: -5rem;
    z-index: 3;
}

.menu ul ul li a {
    text-align: center;
    margin-top: -1.5rem;
    margin-left: 0;
    z-index: 3;
}

.menu ul ul li a:hover {
    background-color: rgb(223, 63, 5);
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    z-index: 3;
}

.menu li a svg {
    margin-top: -3px;
}

.container-banner {
    
    padding-left: 25rem;
    padding-right: 2rem;
    height: 90vh;
    margin-top: -5px;
    
    
}

.carousel-inner {
    
    align-items: center;
    z-index: 1;
}

.carousel-item{
    margin-bottom: 1.2rem;
    align-items: center;
    z-index: 1;
}

.carousel-control-prev {
    z-index: 2;
}

.carousel-control-next {
    z-index: 2;
}

.carousel-indicators li {
    margin-top: -10px;
    background-color: orangered;
}

.carousel-control-prev span {
    background-color: orangered;
    border-radius: 2rem;
    padding: 1.2rem;
}

.carousel-control-next span {
    background-color: orangered;
    border-radius: 2rem;
    padding: 1.2rem;
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 2;
}


.about-sucess h2 {
    padding: 10px 0 0 30px;
    color: white;
    font-family: "roboto";
    font-weight: bold;
    font-size: 3rem;
}








.imagem {
   /* display: inline-block;*/
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.imagem img {
    margin-left: 20px;
    margin-right: 17px;
    border-radius: 30px 30px;
    margin-top: -25px;
}

.texto {
    margin-top: -34px;
    padding-left: 7px;
    /*position: absolute;
    left:28.2rem;*/
    display: flex;
    /*justify-content: center;*/
}


.product-image-title1{
    display:flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    border-radius: 0 0 3rem 3rem;
    background-color: #fd5e01;
    width:40rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    z-index: 25;
    position:absolute;
    
}


.texto a {
    color: black;
    font-weight: bold;
    margin-left: 14px;
    margin-right: 20px;
    padding-right: 173px;
    padding-left: 173px;
    padding-top: 7px;
    height: 35px;
    border-radius: 0 0 30px 30px;
    background-color: #fd5e01;
}

.texto a:hover{
    color: white;
    text-decoration: none;
}

.texto-2 {
    margin-top: -34px;
    padding-left: 450px;
    /*position: absolute;
    left:28rem;*/
    display: flex;
    /*justify-content: center;*/
}

.texto-2 a {
    color: black;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 137px;
    padding-left: 138px;
    padding-top: 7px;
    height: 35px;
    border-radius: 0 0 30px 30px;
    background-color: #fd5e01;
}

.texto-2 a:hover {
    color: white;
    text-decoration: none;
}

.texto3 {
    margin-top: -34px;
    padding-left: 920px;
    /*position: absolute;
    left:27.6rem;*/
    display: flex;
    /*justify-content: center;*/
}

.texto3 a {
    color: black;
    font-weight: bold;
    margin-left: 0;
    margin-right: 20px;
    padding-right: 162px;
    padding-top: 7px;
    padding-left: 161px;
    height: 35px;
    border-radius: 0 0 30px 30px;
    background-color: #fd5e01;
}

.texto3 a:hover {
    color: white;
    text-decoration: none;
}



.bestseller-section {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.bestseller-section h2 {
    padding: 10px 0 0 30px;
    color: white ;
    font-family: "roboto";
    font-weight: bold;
    font-size: 3rem;
}

.imagens-colect {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagens-colect img {
    height: 280px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.imagens-colect1 {
    border: rgb(212, 212, 212) solid 2px;
    margin-left: 13px;
    margin-right: 13px;
    border-radius: 0 0 20px 20px;
}


.product-images {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    
}

.product-image{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    padding:2.4rem;
}



.product-images-1-m{
    display:flex;
    gap:5.5rem;
    margin-bottom: -2rem;
    justify-content: center;
    position:relative;
    
   
}

.product-image-m1{
    display:flex;
    gap:5.5rem;
    margin-bottom: -5rem;
    justify-content: center;
    position:relative;
    width:42rem;
    height: 68rem;
    object-fit: cover;
    padding:2.4rem;
}


.product-images-1{
    display:flex;
    gap:5rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.product-images-1, h2, p, span {
    margin-left: 10px;
}

span {
    padding-bottom: 10px;
}

.product-image-title{
    font-weight: 700;
    font-size: 1.4rem;
}

.product-image-descript{
    font-weight: 400;
    font-size: 1rem;
}

.product-image-price{
    font-weight: 700;
    font-size: 1.4rem;
}

.go-pages{
    display:flex;
    width:70rem;
    justify-content: center;
    gap:2.6rem;
    margin: 0 auto;
    margin-top: 6.5rem;
    margin-bottom: 2.8rem;
    cursor:pointer;
}

.go-page{
    font-weight: 400;
    font-size: 2rem;
    color: #343333;
    padding-left: 10px;
}

.go-pages a:hover {
    color: orangered;
}


.bestseller-section{

    margin-top: 10rem;
}




.bestseller-container {
    display: flex;
    flex-direction: row;
    padding-right: 15rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    justify-content:space-around;
}

.bestseller-container h3 {
    
    padding-top: 1rem;
    color: rgb(44, 44, 44);
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.5rem;
}

.bestseller-container p {
    font-size: 1rem;
}

.subtitle {
    padding-top: 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
}


/*FOOTER*/
footer {
    background-color: #D9D9D9;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 20px 20px 0 0;
    margin-top: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: "roboto";
}

footer a {
    text-decoration: none;

}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.footer-container img {
    height: 40px;
}

.footer-payments h2 {
    text-align: center;
    padding-bottom: 5px;
}

.footer-list li a {
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    line-height: 1.5rem;
    color: black;
}

.footer-cards {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    line-height: 5rem;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

.footer-customer {
    margin-right: 3rem;
}

.footer-social {
    margin-top: 3rem;
    
}

.icons-social {
    display: flex;
    gap: 1rem;
    height: 2rem;
    margin-top: 3rem;
    align-items: center;
    line-height: 5rem;
    margin-bottom: 10px;
}

.footer-bottom {
    border-top: 0.2rem solid #FF8038;
    margin-top: 2rem;
    text-align: center;
}

#logodh{
    width:20rem;
    height: 5rem;
}




/*RESPONSIVIDADE*/

@media (max-width: 1920px)
{
  
.container-menu{
    display: none;
}

}


@media (max-width: 1420px)
{
  html {
       font-size: 55%;
} 

.container-banner {
    
    padding-left: 25rem;
    padding-right: 2rem;
    width: 130rem;
    height: 67rem;
    margin-top: -5px;
    
    
}

.product-image-m1{
    display:flex;
    gap:5.5rem;
    margin-bottom: -5rem;
    justify-content: center;
    position:relative;
    width:42rem;
    height: 68rem;
    object-fit: cover;
    padding:2.4rem;
}

.product-image-title1{
    display:flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    border-radius: 0 0 3rem 3rem;
    background-color: #fd5e01;
    width:40rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    z-index: 25;
    position:absolute;
    
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 15rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 2;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}

@media (max-width: 1220px)
{
  html {
       font-size: 50%;
} 

.container-banner {
    
    padding-left: 25rem;
    padding-right: 2rem;
    width: 130rem;
    height: 67rem;
    margin-top: -5px;
    
    
}

.product-image-m1{
    display:flex;
    gap:5.5rem;
    margin-bottom: -5rem;
    justify-content: center;
    position:relative;
    width:42rem;
    height: 68rem;
    object-fit: cover;
    padding:2.4rem;
    
}

.product-image-title1{
    display:flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    border-radius: 0 0 3rem 3rem;
    background-color: #fd5e01;
    width:40rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    z-index: 25;
    position:absolute;
    
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 14rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 2;
}

.container-banner {
    padding-left: 2rem;
    padding-right: 2rem;
    width:100%;
    height: 90rem;
    margin-top: -5px;
    overflow: hidden;
    
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}


@media (max-width: 1120px)
{
  html {
       font-size: 49%;
} 

.container-banner {
    
    padding-left: 25rem;
    padding-right: 2rem;
    width: 130rem;
    height: 67rem;
    margin-top: -5px;
    
    
}

.product-image-m1{
    display:flex;
    gap:5.5rem;
    margin-bottom: -5rem;
    justify-content: center;
    position:relative;
    width:42rem;
    height: 68rem;
    object-fit: cover;
    padding:2.4rem;
}

.product-image-title1{
    display:flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    border-radius: 0 0 3rem 3rem;
    background-color: #fd5e01;
    width:40rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    z-index: 25;
    position:absolute;
    
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 18rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 2;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}

@media (max-width: 1060px)
{
  html {
       font-size: 44%;
} 

.product-image-m1{
    display:flex;
    gap:5.5rem;
    margin-bottom: -5rem;
    justify-content: center;
    position:relative;
    width:42rem;
    height: 68rem;
    object-fit: cover;
    padding:2.4rem;
}

.product-image-title1{
    display:flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    border-radius: 0 0 3rem 3rem;
    background-color: #fd5e01;
    width:40rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    z-index: 25;
    position:absolute;
    
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 18rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 2;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}

@media (max-width: 980px)
{
   html {
         font-size: 39%;
} 

.icons-social img{

    width: 50%;
    height: 50%;
}

.product-image-m1{
    display:flex;
    gap:5.5rem;
    margin-bottom: -5rem;
    justify-content: center;
    position:relative;
    width:42rem;
    height: 68rem;
    object-fit: cover;
    padding:2.4rem;
}

.product-image-title1{
    display:flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    border-radius: 0 0 3rem 3rem;
    background-color: #fd5e01;
    width:40rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    z-index: 25;
    position:absolute;
    
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 30rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 2;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

#logodh{
    width:20rem;
    height: 5rem;
}


}


@media (max-width: 880px)
{
   html {
         font-size: 35%;
} 

.icons-social img{

    width: 50%;
    height: 50%;
}

.product-image-m1{
    display:flex;
    gap:5.5rem;
    margin-bottom: -5rem;
    justify-content: center;
    position:relative;
    width:42rem;
    height: 68rem;
    object-fit: cover;
    padding:2.4rem;
}

.product-image-title1{
    display:flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    border-radius: 0 0 3rem 3rem;
    background-color: #fd5e01;
    width:40rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    z-index: 25;
    position:absolute;
    
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 30rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 2;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}


}
        
@media (max-width: 780px)
{
   html {
         font-size: 30%;
} 

.product-image-m1{
    display:flex;
    gap:5.5rem;
    margin-bottom: -5rem;
    justify-content: center;
    position:relative;
    width:42rem;
    height: 68rem;
    object-fit: cover;
    padding:2.4rem;
}

.product-image-title1{
    display:flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    border-radius: 0 0 3rem 3rem;
    background-color: #fd5e01;
    width:40rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    z-index: 25;
    position:absolute;
    
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}

@media (max-width: 550px)
{
   html {
         font-size: 25%;
} 

.product-image-m1{
    display:flex;
    gap:5.5rem;
    margin-bottom: -5rem;
    justify-content: center;
    position:relative;
    width:42rem;
    height: 68rem;
    object-fit: cover;
    padding:2.4rem;
}

.product-image-title1{
    display:flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    border-radius: 0 0 3rem 3rem;
    background-color: #fd5e01;
    width:40rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    z-index: 25;
    position:absolute;
    
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}


}

@media (max-width: 450px)
{
   html {
         font-size: 20%;
} 

.product-image-m1{
    display:flex;
    gap:5.5rem;
    margin-bottom: -5rem;
    justify-content: center;
    position:relative;
    width:42rem;
    height: 68rem;
    object-fit: cover;
    padding:2.4rem;
}

.product-image-title1{
    display:flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    border-radius: 0 0 3rem 3rem;
    background-color: #fd5e01;
    width:40rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    z-index: 25;
    position:absolute;
    
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}

@media (max-width: 370px)
{
   html {
         font-size: 15%;
}    
}

@media (max-width: 290px)
{
   html {
         font-size: 10%;
}    
}

