* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "roboto";
}

html {

    /* a cada 1 rem = 10px.*/
    font-size: 62.5%;
}


body {
    font-family: "roboto";
    font-size: 1.6rem;
    display:block;

}

.menu {
    max-width: 100%;
    height: 6.5rem;
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);
    font-family: 'roboto';
    
}

.menu img {
    float: left;
    height: 4rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 8rem;

}
#logotipo{
    float: left;
    height: 4rem;
    margin-top: -2rem;
    margin-left: 2rem;
    margin-right: 8rem;
}

.menu ul {
    list-style: none;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    width: 16rem;
    float: left;
    padding: 0;
    margin: 0;
}

.menu ul li svg {
    padding: 0;
    margin: 0;
}

.menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 19px;
    left: 0;
    list-style: none;
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 3;
}

.menu ul ul {
    padding: 1.5rem;
    position: absolute;
    visibility: hidden;
    list-style-type: none;
    padding-left: 5rem;
    z-index: 3;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: rgb(223, 63, 5);
    height: 6rem;
    z-index: 3;
}

.menu ul ul li {
    float: none;
    padding-bottom: 2.5rem;
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 100%, rgba(255, 119, 41, 0.9) 100%, rgba(255, 146, 40, 10) 100%);
    margin-left: -5rem;
    z-index: 3;
}

.menu ul ul li a {
    text-align: center;
    margin-top: -1.5rem;
    margin-left: 0;
    z-index: 3;
}

.menu ul ul li a:hover {
    background-color: rgb(223, 63, 5);
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    z-index: 3;
}

.menu li a svg {
    margin-top: -3px;
}

/*Carrossel*/

.slider-container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
    
}

.slider{
    display: flex;
    width: 300%;
    margin-left: -100%;
    
}


.slider-section{
    width: 100%;
    
}


.slider-img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.slider-btn{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgba(255,255,255,0.7);
    top:50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 600;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor:pointer;

}

.slider-btn:hover{
    background: #fff;
}

.slider-btn-next{
    right:10px;
}

.slider-btn-prev{
    left:10px;
}

/*Fim Carrossel*/


.about-sucess {
    
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    height: 7.3rem;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 2;
}


.about-sucess h2 {
    padding: 0.8rem 0 0 3rem;
    color: white;
    font-family: "roboto";
    font-weight: bold;
    font-size: 3rem;
    
}


.bestseller-section {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 7.3rem;
    border-radius: 1rem 1rem 0 0;
    position: relative;
}

.bestseller-section h2 {
    padding: 1.5rem 0 0 3rem;
    color: white ;
    font-family: "roboto";
    font-weight: bold;
    font-size: 3rem;
    
}



.product-images {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    
}

.product-image{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    padding:2.4rem;
}


.product-images-1-m{
    display:flex;
    margin-bottom: -2rem;
    justify-content:space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.product-image-m1{
    display:flex;
    flex-direction: row;
    margin-bottom: -3rem;
    position:relative;
    width:44rem;
    height: 68rem;
    object-fit: cover;
    padding:1rem;
}

.product-image-title1{
    display:flex;
    color: black;
    font-weight: bold;
    border-radius: 0 0 3rem 3rem;
    background-color: #fd5e01;
    width:42rem;
    height: 5rem;
    justify-content: center;
    z-index: 25;
    position:absolute;
    flex-direction: column;
    align-items: center;
}


.product-images-1{
    display:flex;
    gap:5rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.product-images-1, h2, p, span {
    margin-left: 10px;
}

span {
    padding-bottom: 10px;
}

.product-image-title{
    font-weight: 700;
    font-size: 1.4rem;
}

.product-image-descript{
    font-weight: 400;
    font-size: 1rem;
}

.product-image-price{
    font-weight: 700;
    font-size: 1.4rem;
}

.go-pages{
    display:flex;
    width:70rem;
    justify-content: center;
    gap:2.6rem;
    margin: 0 auto;
    margin-top: 6.5rem;
    margin-bottom: 2.8rem;
    cursor:pointer;
}

.go-page{
    font-weight: 400;
    font-size: 2rem;
    color: #343333;
    padding-left: 10px;
}

.go-pages a:hover {
    color: orangered;
}


.bestseller-section{

    margin-top: 9rem;
}




/*FOOTER*/
footer {
    background-color: #D9D9D9;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 20px 20px 0 0;
    margin-top: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: "roboto";
}

footer a {
    text-decoration: none;

}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.footer-container img {
    height: 40px;
}

.footer-payments h2 {
    text-align: center;
    padding-bottom: 5px;
}

.footer-list li a {
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    line-height: 1.5rem;
    color: black;
}

.footer-cards {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    line-height: 5rem;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

.footer-customer {
    margin-right: 3rem;
}

.footer-social {
    margin-top: 3rem;
    
}

.icons-social {
    display: flex;
    gap: 1rem;
    height: 2rem;
    margin-top: 3rem;
    align-items: center;
    line-height: 5rem;
    margin-bottom: 10px;
}

.footer-bottom {
    border-top: 0.2rem solid #FF8038;
    margin-top: 2rem;
    text-align: center;
}

#logodh{
    width:20rem;
    height: 5rem;
}




/*RESPONSIVIDADE*/

@media (max-width: 1920px)
{
  
.container-menu{
    display: none;
}

}


@media (max-width: 1420px)
{
  html {
       font-size: 61%;
} 


.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}

@media (max-width: 1320px)
{
  html {
       font-size: 56%;
} 


.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}


.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}


@media (max-width: 1220px)
{
  html {
       font-size: 50%;
} 

.menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 19px;
    left: 0;
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 3;
}


.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}




.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}

@media (max-width: 1120px)
{
  html {
       font-size: 44%;
} 


.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}

@media (max-width: 980px)
{
   html {
         font-size: 39%;
} 

.menu img {
    float: left;
    height: 3rem;
    margin-top: 0.7rem;
    margin-left: 2rem;
    margin-right: 8rem;

}

.menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 19px;
    left: 0;
    list-style: none;
    font-size: 1.4rem;
    font-weight: bold;
    z-index: 3;
}


.icons-social img{

    width: 50%;
    height: 50%;
}

.product-image-m1{
    padding-left:1.7rem;
    padding-right: 1rem;
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

#logodh{
    width:20rem;
    height: 5rem;
}


}


@media (max-width: 880px)
{
   html {
         font-size: 35%;
} 

.menu a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 19px;
    left: 0;
    list-style: none;
    font-size: 1.4rem;
    font-weight: bold;
    z-index: 3;
}

.menu svg{
    width:2rem;
    
}

.menu img {
    float: left;
    height: 3rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 8rem;

}

.icons-social img{

    width: 50%;
    height: 50%;
}

.product-image-m1{
    padding-left:1.9rem;
    padding-right: 0.8rem;
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}


}
        
@media (max-width: 780px)
{
   html {
         font-size: 30%;
} 

.menu img {
    float: left;
    height: 3rem;
    margin-top: 0;
    margin-left: 2rem;
    margin-right: 8rem;

}

.product-image-m1{
    padding-left:2.1rem;
    padding-right: 0.8rem;
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}


@media (max-width: 680px)
{
   html {
         font-size: 26%;
} 

.menu img {
    float: left;
    height: 3rem;
    margin-top: -1rem;
    margin-left: 2rem;
    margin-right: 8rem;

}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}

.product-image-m1{
    padding-left:3rem;
    padding-right: 0.4rem;
}


.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}



@media (max-width: 580px)
{
   html {
         font-size: 21%;
} 


.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}


.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}


}

@media (max-width: 450px)
{
   html {
         font-size: 17%;
} 

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}

.product-image-m1{
    padding-left:3.8rem;
    padding-right: 0;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}

}

@media (max-width: 370px)
{
   html {
         font-size: 11%;
} 

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}

.product-image-m1{
    padding-left:3.8rem;
    padding-right: 0;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}



}

@media (max-width: 290px)
{
   html {
         font-size: 8%;
}

.about-sucess {
    background: linear-gradient(90deg, rgba(255, 92, 0, 50) 4.06%, rgba(255, 119, 41, 50) 57.09%, rgba(255, 146, 45, 50) 100%);
    margin-left: 2rem;
    margin-right: 2rem;
    height: 5rem;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}

.product-image-m1{
    padding-left:3.8rem;
    padding-right: 0;
}

.footer-cards img {
    height: 3rem;
    padding-left: 2rem;
}


}

