<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="/stylesheets/Descricao/descricao.css">
    <!--<link rel="stylesheet" href="./responsive.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descrição</title>

</head>

<body>
    <!-- Header -->
	<%- include ('../partials/header')%>
	<!-- /Header -->
    <main>

        <section>
            <!--começo da breadcrumb-->
            <nav>
                <ol>
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Pratos</a>
                    </li>
                    <li>
                        <a href="../Produto/produto.html">Pratos Rasos</a>
                    </li>
                    <li>
                        CONJUNTO DE 6 PRATOS RASOS 27 CM LA TAVOLA
                    </li>
                </ol>
            </nav>
            <!--fim da breadcrumb-->
        </section>
        <section>
            <div class="container-master">
                <div class="container-master-up">
                    <div class="container-master-left">

                        <!--começo dos produtos-->
                        <div class="items">
                            <div class="select-image">
                                <div class="arrow-right">
                                    <img class="arrow" src="../images/seta-esquerda.png" alt="seta-esquerda">
                                </div>
                                <div class="product-image">
                                    <img class="product" src="../images/2/Capturar.PNG" alt="prato la tavola">
                                </div>
                                <div class="arrow-left">
                                    <img class="arrow" src="../images/seta-direita.png" alt="seta-direita">
                                </div>
                            </div>

                            <div class="thumbnails">
                                <div class="thumbnail">
                                    <img src="../images/2/2.PNG" alt="mesa posta">
                                </div>
                                <div class="thumbnail">
                                    <img src="../images/2/3.PNG" alt="prato empilhado">
                                </div>
                                <div class="thumbnail">
                                    <img src="../images/2/4.PNG" alt="prato sozinho">
                                </div>
                            </div>
                        </div>


                        <div class="right-side">
                            <div class="content">
                                <div align="right">
                                <h2>CONJUNTO DE 6<br>PRATOS RASOS 27 CM<br>LA TAVOLA</h2>
                                <h5> D'house Porcelanas | COD: 123456</h5>
                                </div>
                                <div class="options">
                                    <div class="amount">
                                        <div class="minus>">
                                            <img class=icon-minus src="../images/menos.png" width="10px">
                                        </div>
                                        <span class="qtde">1</span>
                                        <div class="plus>">
                                            <img class="icon-plus" src="../images/mais.png" width="10px">
                                        </div>
                                    </div>
                                </div>

                                <span class="price">R$ 999,90</span>
                                <span class="parcela">ou 3x de R$ 333,30</span>
                                <div class="buttons-sale">
                                    <div class="button-car">
                                        <button class="car" type="button">Adicionar ao carrinho</button>
                                    </div>
                                    <div class="button-wish">
                                        <button class="wish" type="button">Adicionar à Wishlist</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="container-master-bottom">
                        <article class="description">
                            <h1 class="description-title">DESCRIÇÃO</h1>
                            <p class="description-text">Todas as peças da coleção La Tavola recebem
                                aplicação de esmalte com pigmentação e de um filete reagente aplicado
                                de forma manual garantindo a unicidade de cada peça. Produzido em
                                porcelana, o conjunto de pratos rasos La Tavola é composto por 6
                                pratos rasos, que podem ser levados ao micro-ondas e à máquina de lavar louças.
                            </p>
                        </article>

                        <div class="line"></div>

                        <article class="specs">
                            <h1 class="specs-title">ESPECIFICAÇÕES</h1>
                            <table class="specs-items">
                                <tr>
                                    <td class="td-left">USO</td>
                                    <td class="td-right">Resistente a micro-ondas, Resistente a lava-louças</td>
                                </tr>

                                <tr>
                                    <td class="td-left">TIPO</td>
                                    <td class="td-right">Raso</td>
                                </tr>

                                <tr>
                                    <td class="td-left">LINHA/DECORAÇÃO</td>
                                    <td class="td-right">La tavola</td>
                                </tr>

                                <tr>
                                    <td class="td-left">MATERIAL</td>
                                    <td class="td-right">Porcelana</td>
                                </tr>

                                <tr>
                                    <td class="td-left">TIPO DE EMBALAGEM</td>
                                    <td class="td-right">Papelão pardo
                                    </td>
                                </tr>

                                <tr>
                                    <td class="td-left">COR</td>
                                    <td class="td-right">Neo Boreal</td>
                                </tr>

                                <tr>
                                    <td class="td-left">MEDIDAS</td>
                                    <td class="td-right">27 cm</td>
                                </tr>

                                <tr>
                                    <td class="td-left">GARANTIA</td>
                                    <td class="td-right">90 dias (Defeitos de fabricação)</td>
                                </tr>
                            </table>
                        </article>
                    </div>

                </div>

                <div class="line-vert"></div>

                <aside class="favorites">

                    <h2 class="favorites-title">Nossos produtos favoritos na categoria</h2>
                    <div class="favorites-images>">
                        <img class="favorites-image" src="../images/3/1.PNG">
                        <h2 class="favorite-image-title">COLEÇÃO LA TAVOLA</h2>
                        <p class="favorite-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                        <span class="favorite-image-price">R$ 999,90</span>
                    </div>
                    <div class="favorites-images>">
                        <img class="favorites-image" src="../images/9/1.PNG">
                        <h2 class="favorite-image-title">COLEÇÃO LA TAVOLA</h2>
                        <p class="favorite-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                        <span class="favorite-image-price">R$ 999,90</span>
                    </div>
                    <div class="favorites-images>">
                        <img class="favorites-image" src="../images/8/Capturar.PNG">
                        <h2 class="favorite-image-title">COLEÇÃO LA TAVOLA</h2>
                        <p class="favorite-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                        <span class="favorite-image-price">R$ 999,90</span>
                    </div>
                    <div class="favorites-images>">
                        <img class="favorites-image" src="../images/11/1.PNG">
                        <h2 class="favorite-image-title">COLEÇÃO LA TAVOLA</h2>
                        <p class="favorite-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                        <span class="favorite-image-price">R$ 999,90</span>
                    </div>
                </aside>
            </div>

            <div class="banner-images">
                <div class="banner-image">
                    <img class="banner-img" src="../images/345.PNG">
                </div>
                <div class="banner-image">
                    <img class="banner-img" src="../images/281538242_318236130479245_3829454221508402800_n.jpg">
                </div>
                <div class="banner-image">
                    <img class="banner-img" src="../images/Capturar.PNG">
                </div>
                <div class="banner-image">
                    <img class="banner-img" src="../images/—Pngtree—social media icons set facebook_3556899.png">
                </div>
                <div class="banner-image">
                    <img class="banner-img" src="../images/283218549_1294098584332964_8204117314078147044_n.jpg">
                </div>
            </div>

        </section>
        </div>
        </div>

    </main>
    <!-- fim main  -->
    
    <!-- footer -->
    <%- include('../partials/footer')%>
    <!-- /footer --> 
</body>

</html>