* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    font-family: "roboto";
    font-size: 62.5%;

}

header {
    display: flex;
}

main{
    width: 100%;
    height: 900px;
}

.menu-topo {
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);
    ;
    height: 60px;
    width: 100%;
}

.main-link-voltar {
    padding-top: 20px;
}

.main-link-voltar a {
    padding: 20px;
    font-size: 1.2rem;
    color: black;
}

.main-link-voltar a:hover {
    text-decoration: underline;
}

.menu-topo img {
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;


}

.main-container {
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    opacity: 10px;
    border-radius: 10px;
    width: 100%;
    height: 850px;
}

.main-left {
    width: 900px;
    background-color: rgba(217, 217, 217, 1);
    height: 100%;
    padding: 20px;
}

.main-p-1 {

    font-size: 1.7rem;
    font-weight: 530;

}


.main-p-2 {
    font-weight: 600;
    font-size: 1rem;
}

.main-left1 {
    display: flex;
    width: 800px;
    height: 80px;
    background-color: white;

    margin-top: 1%;
    margin-bottom: 1%;
}

.main-left1-img {

    width: 110px;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    padding: 20px;
}



.main-left1-endereco {
    margin-top: 20px;
    width: 90%;
    font-size: 1rem;
    /* margin-left: 30px;*/
}


.main-left1-entrega {
    padding: 30px;
    
}
.main-left-p-verde{
    color: rgba(16, 158, 22, 1);
    font-size: 1rem;
    font-weight: 400;
}

/*final do left 2 */




/*final do left 3*/

/*inicio do right*/
.main-right {
    width: 570px;
    border: 2px rgb(209, 208, 208) solid;
    background-color: white;
    border-radius: 0 10px 10px 0;
    height: 100%;
    padding-top: 20px;
}

.main-right-topo {
    display: flex;
    justify-content: space-between;
    height: 30%;
}

.main-right-topoL {
    display: flex;
    width: 25%;
    height: 100%;
    padding-left: 60px;
    position: relative;
    margin-top: 5px;
}

.main-right-topoL div {
    display: flex;
    align-items: center;
    height: 100%;

    width: 50%;
}
.main-right-topoC {
    height: 50%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.main-right-topoR {
    display: flex;
    width: 25%;
    height: 100%;
    position: relative;
   
    margin-top: 5px;
    padding-right: 60px;
}

.main-right-topoR div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;

}

.main-right-main {
    height: 20%;
    padding-top: 10px;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
}

.main-right-main-b {
    padding-top: 30px;
    display: flex;
    height: 20%;
    padding-bottom: 10px;
    padding-left: 12px;
}

.line-h {
    border-top: 1px solid #9e9d9d;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 2rem;
    height: 300px;
    padding-bottom: 5px;
}

.main-right-main-c {
    width: 60%;
    padding-top: 10px;
}

.main-right-botom {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    height: 20%;
}

.main-right-main-c1 {
    color: green;
}

/*fim do right*/
.footer-container {
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 1);
    text-align: center;
    border-radius: 20px 20px 0 0;
    height: 130px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-1 {
    padding-top: 20px;
}

.footer-2 {
    padding-top: 10px;
}
