* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {

    /* a cada 1 rem = 10px.*/
    font-size: 62.5%;
}


body {
    font-family: "roboto";
    font-size: 1.6rem;
}

/*HEADER*/

header nav {
    background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);
    height: 60px;
    width: 100%;
}

header nav img {
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

header nav ul {
    float: right;
    margin-right: 20px;
}


header nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
    padding-right: 70px;
}


header nav li a {
    color: white;
    font-weight: bold;
    transition: all 250ms linear 0s;
}

header nav li a:hover {
    color: black;
}

.container-master {
    display: flex;
    max-width: 1370px;
    width: auto;
    max-height: 1400px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}


/*LEFT-SIDE*/

.left-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    color: #545353;
    margin-top: 61px;
}

.left-hr {
    height: 0.2rem;
    width: 71.2rem;
    border-width: 0;
    color: #D9D9D9;
    background-color: #D9D9D9;
    margin-top: 3.1rem;
    margin-bottom: 2.4rem;
}


.shop-header {
    display: flex;
    justify-content: space-between;
}

.product-title {
    color: #ff8b2c;

}

.shop-header .measure {
    display: flex;
    width: 25rem;
    justify-content: space-between;
    color: #ff8b2c;
}

.black-plate {
    width: 8.9rem;
    height: 8.2rem;
    margin-top: 3.4rem;
    border: 0.1rem solid #D9D9D9;
    padding: 1rem;
    border-radius: 0.7rem;

}

.shop-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-product-description {
    display: flex;
    
}



.prod-combo {
    margin-top: 1.5rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.prod-description{
    font-weight: 600;
    font-size: 2rem;
    color: #545353;
}

.prod-remove{
    font-weight: 400;
    font-size: 2rem;
    color: rgba(84, 83, 83, 0.7);
    cursor:pointer;
    text-decoration-line: underline;
}

.prod-remove:hover{
    background: red;
    color:white;
    width: fit-content;
}

.price-qty {
    display: flex;
    width: 26.1rem;
    height: 4.7rem;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: 700;
    font-size: 1.6rem;
}

.qty {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.qty-number{
    
    font-size:1.6rem;
    font-weight: 500;
    color: #545353;
    border: 0.1rem solid #D9D9D9 ; 
    border-radius: 3px;
    text-align: center;
    padding: 1.4rem 2rem;


}




/*RIGHT-SIDE*/


.right-side {
    margin-left: 7.3rem;
    width: 53.4rem;
    height: 115rem;
    background: rgba(255, 204, 175, 0.1);
}


.right-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: #545353;
    padding-left: 6.2rem;
    padding-right: 6.2rem;
    padding-top: 62px;
}

.qty-price {
    display:flex;
    justify-content: space-between;
    padding-top:4rem;
    padding-left:6.2rem;
    padding-bottom: 2rem;
}

.right-hr {
    height: 0.2rem;
    width: 41rem;
    border-width: 0;
    color: #D9D9D9;
    background-color: #D9D9D9;
    padding-left: 7.3rem;
    margin-left: 6.2rem;
}

.qty-price .item {
    background-color: #FF4D00;
    padding:0.5rem;
    border-radius: 0.5rem;
    color:white;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: 'Roboto';
    opacity:0.9;
}

.item-price {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.5rem;
    margin-right: 6.2rem;
}

.delivery {
    padding-left:6.2rem;
       
}

#delivery-select {
    width:40.9rem;
    height:4.6rem;
    border: 0.2rem solid #D9D9D9;
    border-radius: 0.3rem;
}

select {
    font-weight: 400;
    font-size: 1.8rem;
    color:#545353;
}

.delivery-choices {
    padding-top: 3rem;
}

.delivery-choice{
    display:flex;
    flex-direction: column;
}

label {
    font-weight: 700;
    font-size: 1.5rem;
}

.discount-place {
    display:flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}



#discount-check-place {
    width:35.6rem;
    height:4.6rem;
    background: #FFFFFF;
    border: 0.2rem solid #D9D9D9;
    border-radius: 0.3rem;
    outline: 0;
}

.button-discount-check {
    width:3.9rem;
    height:4.6rem;
    background: #FFFFFF;
    border: 0.2rem solid #D9D9D9;
    border-radius: 0.3rem;
    
}

.check{
    width: 1.3rem;
}

input::placeholder{
     font-weight: 400;
     font-size: 1.8rem;
     padding-left: 1rem;
}

.final-datas {
    display:flex;
    flex-direction: column;
    gap:1.2rem;
    padding-left: 6.2rem;
    padding-top:3rem;
}

.discount-text {
    font-weight: 600;
    font-size: 1.6rem;
    color: rgba(84, 83, 83, 0.7);
    word-spacing: 17.6rem;
}

.discount-frete {
    font-weight: 600;
    font-size: 1.6rem;
    color: rgba(84, 83, 83, 0.7);
    word-spacing: 29.6rem;
}

.discount-total {
    font-weight: 700;
    font-size: 1.6rem;
    color: #545353;
    word-spacing: 29.6rem;
}


.finaliza {
    margin-left: 6.2rem;
    width:40.9rem;
    height:4.6rem;
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
    border:none;
    background: linear-gradient(180deg, #FF4D00 4.17%, #FF5C16 55.08%, #FF701F 100%);
    opacity: 0.9;
    border-radius: 0.4rem;
    margin-top: 6.2rem;
}

.finaliza:hover {
    background: black;
    cursor:pointer;
}

@media (max-width: 1152px){
    html{
        font-size:56%;
    }
    
}

@media (max-width: 1024px){
    html{
        font-size:50%;
    }
    
}

@media (max-width: 800px){
    html{
        font-size: 38%;
    }
    
}




