<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="/stylesheets/Cadastro/cadastro3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro3</title>
</head>

<body>
    <!-- Header -->
	<%- include ('../partials/header')%>
	<!-- /Header -->
    <main>
        <section class="caixaCriarConta">
            <h2 class="createCount">Criar Conta</h2>
            <form class="identifica" action="/users/cadastro" method="POST">
                <label for="nome">Nome</label>
                <input type="text" name="nome">
                <label for="email">email</label>
                <input type="text" name="email">
                <label for="senha">Senha</label>
                <input type="text" name="senha">
                <button>Enviar</button>
            </form>
            <h2 class="createCount">Fazer Login</h2>
            <form class="identifica" action="/users/login" method="POST">
                <label for="email">email</label>
                <input type="text" name="email">
                <label for="senha">Senha</label>
                <input type="text" name="senha">
                <button>Entrar</button>
            </form>
        </section>
    </main>

    </section>
    <!-- footer -->
    <%- include('../partials/footer')%>
    <!-- /footer --> 
    </section>

</body>

</html>