<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="../stylesheets/Checkout/stylesCheckoutResp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout responsivo 1</title>
</head>

<body>
   <!-- <header>
        <div class="menu-topo">
            <img src="../images/logo.jpeg" alt="logo d-house">
        </div>
    </header>--> 
    <!--<%- include('../partials/headerCheckout') %>-->
    <nav class="navbar navbar-expand-md navbar-light fixed-top box-shadow" style="background: linear-gradient(90deg, rgba(255, 92, 0, 0.9) 4.06%, rgba(255, 119, 41, 0.9) 57.09%, rgba(255, 146, 45, 0.9) 100%);">
        <a class="navbar-brand" href="/">
          <img src="../images/logo.jpeg" alt="logo d-house"  height="40"  >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" 
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </nav>

    <main>
             <section class="container-fluid pb-5">     
                <a href="../">< Carrinho</a> 
                <div class="row">       
                    <div class="col-lg-8 bg-light">
                        <div class="border border-light">
                            <div class="py-3"><h5>Como você quer receber ou retirar sua compra?</h5></div>
                            <div class="m-2">Endereço</div>
                            <div>
                            <table class="table table-hover table-striped">
                                <tbody>
                                  <tr>
                                    <th scope="row"><img src="../images/brcheck1.png" alt="bt localizacao end" ></th>
                                    <td><h5>Jose Antônio Silva Santos</h5>
                                       Rua Doutor Genésio Salles                                
                                       - CEP 410000000 - Rio de Janeiro, RJ </td>
                                    <td style="vertical-align: middle;">                                    
                                        <a style="color: orange" href="#">Editar ou escolher outro</a></td>                                    
                                  </tr>
                                </tbody>
                            </table>
                            </div>
                            <div><h5>Receber compra</h5></div>
                            
                            <div class="form-group">
                                <div>
                                <table class="table table-hover table-striped">
                                    <tbody>
                                      <tr>
                                        <th><div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                            <label class="form-check-label" for="exampleRadios2">
                                             
                                            </label>
                                          </div></th>
                                        <td>Chegará hoje entre as 16 e 21 h </td>
                                        <td class="text-center" style="color:green">Grátis</td>
                                      </tr>
                                    </tbody>
                                </table>
                        
                            
                                <table class="table table-hover table-striped">
                                    <tbody>
                                      <tr>
                                        <th><div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                             
                                            </label>
                                          </div></th>
                                        <td>Chegará no seu endereço segunda feira</td>
                                        <td class="text-center">47,00</td>
                                      </tr>
                                    </tbody>
                                </table>
                                </div>
                            

                            
                                <div class="container">
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col"></div>
                                        <div class="col text-center"><strong>Você pagará: 339,00</strong></div>
                                        <div class="col">
                                          <form action="/checkout/checkoutRes2" method="GET">
                                             <button type="submit" class="btn btn-warning btn-block p-2" style="max-width: 200px;" >Continuar</button>
                                          </form>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="container">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <div style="height: 500px;" class="d-flex justify-content-center">
                                  <img class="d-block w-100" src="../images/carro0.png" alt="First slide">
                                </div>
                                <div class="carousel-caption d-none d-md-block">
                                  <h5>Jogo Prato Things</h5>
                                  <p>valor: 29,00</p>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div style="height: 500px;" class="d-flex justify-content-center">
                                  <img class="d-block w-100" src="../images/carro1.png" alt="Second slide">
                                </div>
                                <div class="carousel-caption d-none d-md-block">
                                  <h5>Jogo Prato fire</h5>
                                  <p>valor: 39,00</p>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div style="height: 500px;" class="d-flex justify-content-center">
                                  <img class="d-block w-100" src="../images/carro2.png" alt="Third slide">
                                </div>
                                <div class="carousel-caption d-none d-md-block">
                                  <h5>Jogo Prato White</h5>
                                  <p>valor: 39,00</p>
                                </div>
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Próxima</span>
                            </a>
                          </div>
                      </div>
                          <div class="container">
                            <div class="row">
                             <div class="col">
                                
                             </div>
                      
                            </div>                            
                          </div>
                    </div>
                </div>  
            </section>  

    </main>

   <footer class="bg-light text-center py-3">
      <p class="mb-0 font-weight-bold">© 2022 D'house Comércio Varejista S.A</p>
        <p class="mb-0 font-weight-light">CNPJ: 99.999.999/0001-99</p> 
        <p class="mb-0 font-weight-light">Endereço: Av. Wireframe DH, 999</p> 
        <p class="mb-0 font-weight-light">Pituba - Salvador-BA</p> 
    </footer>

    <!--<%- include('../partials/footerCheckout.ejs') %>-->

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>

</html>
</body>

</html>