<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="../stylesheets/Checkout/stylesCheckout4.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout pagina 4</title>
</head>

<body>
    <header>
        <div class="menu-topo">
            <img src="../images/logo.jpeg" alt="logo d-house">
        </div>
    </header>


    <main>
        <div class="main-link-voltar">
            <p><a href="../checkout1">
                    < Endereço</a>
                        <a href="../checkout2"> 
                            < Pagamento</a>
            </p>
        </div>
        <div class="main-container">
            <div class="main-left">
                <div class="main-p-1">
                    <p>Como você quer receber?</p>
                </div>
                <div class="main-p-2">
                    <p>Detalhes da entrega</p>
                </div>
                <div class="main-left1">
                    <div class="main-left1-img">
                        <img src="../images/Ellipse 4.png" alt="">
                    </div>
                    <div class="busula">
                        <img src="../images/Vector.png" alt="bussula">
                    </div>
                    <div class="main-left1-endereco">
                        <h3>Rua Doutor Genésio Salles</h3>
                        <p>Rio de Janeiro, RJ - CEP 410000000</p>
                        <p>Jose Antônio Silva Santos</p>

                    </div>


                </div>

                <div class="main-left2">
                    <div class="main-left2-1">
                        <p>
                        <h3>Chegará no seu endereço entre os dias 9 e 15 jun.
                        </h3>
                        </p>
                    </div>
                    <div class="main-left2-2">
                        <p>
                        <h3>Grátis</h3>
                        </p>

                    </div>


                </div>
                <div class="main-p-2">
                    <p>Detalhes do pagamento</p>
                </div>
                <div class="main-left3">

                    <div class="main-left3-1">
                        <p>
                        <h3>PIX</h3>
                        </p>
                        <div class="main-left3-2">
                            <p>
                            <h3>Você pagará R$ 79,90</h3>
                            <p>
                            <h3>Nós não reservamos estoque até que o pagamento seja aprovado</h3>
                        </div>


                    </div>
                </div>

            </div>
            <div class="main-right">
                <div class="main-right-topo">
                    <div class="main-right-topoL">
                        <div></div>
                        <div>
                            <a href="#">
                                <img src="../images/setaL.png" alt=""></a>
                        </div>
                        <div></div>
                    </div>
                    <div class="main-right-topoC">
                        <img src="../images/image 12.png" alt="">
                    </div>
                    <div class="main-right-topoR">
                        <div></div>
                        <div>
                            <a href="#">
                                <img src="../images/setaR.png" alt=""></a>
                        </div>
                        <div></div>

                    </div>

                </div>
                <div class="main-right-main">
                    <div class="main-right-main">
                        <p>Prato Thingx [yk]</p>
                    </div>
                    <div class="main-right-main">
                        <p>50up775psb 50</p>
                    </div>
                    <div class="main-right-main">
                        <p>Quantidade: 1</p>
                    </div>
                    <div class="main-right-main-b">
                        <div class="main-right-main-c">
                            <p>Prato Thingx [yk]:</p>
                        </div>
                        <div class="main-right-main-c">
                            <p>R$ 79,00</p>
                        </div>
                    </div>
                    <div class="line-h"></div>
                </div>
                <div class="main-right-botom">
                    <div class="main-right-main-b">
                        <div class="main-right-main-c">
                            <p>Frete</p>
                        </div>
                        <div class="main-right-main-c">
                            <p class="main-right-main-c1">Grátis</p>
                        </div>
                    </div>
                    <div class="main-right-main-b">
                        <div class="main-right-main-c">
                            <p>Você pagará:</p>
                        </div>
                        <div class="main-right-main-c">
                            <p>R$ 79,00</p>
                        </div>
                    </div>

                </div>
                <DIV class="main-right-main-button"> </div>
                <DIV class="main-right-main-button">
                    <div class="main-right-main-d"></div>
                    <Button>Confirmar a compra</Button>
                    <div class="main-right-main-d"></div>

                </DIV>
            </div>

        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-1">
                <div>
                    <h3>© 2022 D'house Comércio Varejista S.A</h3>
                </div>
            </div>
            <div class="footer-2">
                <p>D'HOUSE COMÉRCIO VAREJISTA S.A<br>CNPJ: 99.999.999/0001-99<br>Endereço: Av. Wireframe DH,
                    999<br>Bairro - Cidade</p>
            </div>

        </div>
    </footer>
</body>

</html>
</body>

</html>