<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="/stylesheets/Prato Raso/produto.css">
    <!--<link rel="stylesheet" href="./responsive.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prato Raso</title>

</head>

<body>
    <!-- Header -->
	<%- include ('../partials/header')%>
	<!-- /Header -->

    <main>
        <section>
            <!-- Banner -->
	        <%- include ('../partials/banner')%>
	        <!-- /Banner -->
        </section>



        <section>
            <!--começo da breadcrumb-->
            <nav>
                <ol>
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Pratos</a>
                    </li>
                    <li>
                        Prato Raso
                    </li>
                </ol>
            </nav>
            <!--fim da breadcrumb-->

            <div class="container-master">

                <!-- aside -->
	            <%- include ('../partials/aside')%>
	            <!-- /aside -->


                <section>
                    <div class="container-right-title">
                        <h2 class="right-title">Prato Raso</h2>
                        <hr class="right-hr">
                        <div class="right-title-right">
                            <h5 class="h5-left">ordenar por</h5>
                            <h5 class="h5-right">menor valor</h5>
                            <img class="seta-down" src="../images/angle-down.png" alt="seta-baixo">
                        </div>
                    </div>

                    <div class="container-right">

                        <div class="product-images-1">
                            <div class="product-images">
                                <img class="product-image" src="../images/PratosRasos/1/1.PNG">
                                <h2 class="product-image-title">COLEÇÃO LA TAVOLA</h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                            <div class="product-images">
                                <img class="product-image" src="../images/PratosRasos/2/1.PNG">
                                <h2 class="product-image-title"><a href="/description">COLEÇÃO LA TAVOLA</a></h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                            <div class="product-images">
                              <a href="/description"><img class="product-image" src="../images/PratosRasos/3/1.PNG"></a>
                                <h2 class="product-image-title">COLEÇÃO LA TAVOLA</h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                        </div>
                        <div class="product-images-2">
                            <div class="product-images">
                                <img class="product-image" src="../images/PratosRasos/4/1.PNG">
                                <h2 class="product-image-title">COLEÇÃO LA TAVOLA</h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                            <div class="product-images">
                                <img class="product-image" src="../images/PratosRasos/5/1.PNG">
                                <h2 class="product-image-title">COLEÇÃO LA TAVOLA</h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                            <div class="product-images">
                                <img class="product-image" src="../images/PratosRasos/6/1.PNG">
                                <h2 class="product-image-title">COLEÇÃO LA TAVOLA</h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                        </div>

                        <div class="product-images-3">
                            <div class="product-images">
                                <img class="product-image" src="../images/PratosRasos/7/1.PNG">
                                <h2 class="product-image-title">COLEÇÃO LA TAVOLA</h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                            <div class="product-images">
                                <img class="product-image" src="../images/PratosRasos/8/1.PNG">
                                <h2 class="product-image-title">COLEÇÃO LA TAVOLA</h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                            <div class="product-images">
                                <img class="product-image" src="../images/PratosRasos/9/1.PNG">
                                <h2 class="product-image-title">COLEÇÃO LA TAVOLA</h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                        </div>

                        <div class="product-images-4">
                            <div class="product-images">
                                <img class="product-image" src="../images/PratosRasos/10/1.PNG">
                                <h2 class="product-image-title">COLEÇÃO LA TAVOLA</h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                            <div class="product-images">
                                <img class="product-image" src="../images/PratosRasos/11/1.PNG">
                                <h2 class="product-image-title">COLEÇÃO LA TAVOLA</h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                            <div class="product-images">
                                <img class="product-image" src="../images/PratosRasos/12/1.PNG">
                                <h2 class="product-image-title">COLEÇÃO LA TAVOLA</h2>
                                <p class="product-image-descript">CONJUNTO C/ 6 PRATOS RASO DAISY BOTÂNICO Ø 26CM</p>
                                <span class="product-image-price">R$ 999,90</span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <section class="go-pages">
                <a class="go-page">&lt Proxima Anterior </a>
                <a class="go-page">1</a>
                <a class="go-page">2</a>
                <a class="go-page">3</a>
                <a class="go-page">Proxima Página &gt</a>
            </section>



    </main>

    <!-- footer -->
    <%- include('../partials/footer')%>
    <!-- /footer --> 

</body>

</html>